<%- include('./components/sideBaar_visibility.ejs') -%>

<div class="card-wrapper">
    <div class="master-box bg-white dark:bg-dark-second shadow rounded-lg">
        <div class="flex-container-block">
            <div class="">
                <div class="">
                    <div class="">
                        <div class="flex flex-col items-center warp">
                            <% if(typeof locals.userdetail !="undefined" ){ %>
                                <div class="profile-card">
                                    <div class="profile-item-full">
                                        <p class="text-xl md:text-2xl">Hello</p>
                                    </div>
                                    <% } %>
                                        <% if(typeof locals.userdetail !="undefined" ){ %>
                                            <% if(userdetail.status==true){ %>
                                                <div class="profile-item-left">
                                                    <p>User Type</p>
                                                </div>
                                                <div class="profile-item-right">
                                                    <p>
                                                        <%= userdetail.usertype %>
                                                    </p>
                                                </div>
                                                <div class="profile-item-left">
                                                    <p>Name</p>
                                                </div>
                                                <div class="profile-item-right">
                                                    <p>
                                                        <%= userdetail.name %>
                                                    </p>
                                                </div>
                                                <div class="profile-item-left">
                                                    <p>Email</p>
                                                </div>
                                                <div class="profile-item-right">
                                                    <p>
                                                        <%= userdetail.email %>
                                                    </p>
                                                </div>
                                                <% } %>
                                                    <% } %>
                                </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="card-wrapper">
    <div class="master-box bg-white dark:bg-dark-second shadow rounded-lg">
        <!-- <div class="flex justify-center w:full">                    
                        <div class="flex-col justify-center w-full"> -->
                            <form method="post" enctype="multipart/form-data" action="csvupload">
                                <div class="flex flex-col text-center justify-center">
                                    <div class="my-4">
                                        <label class="font-semibold text-lg md:text-xl ">Upload a csv file</label>
                                    </div>
                                    <div class="w:full flex  flex-col  md:flex-row  space-evenly">
                                        <div class="w-fulls md:w-1/2 mb-4">
                                            <input class="pt-1" type="file" name="csvfile" required>
                                        </div>
                                        <div>
                                            <!-- <button type="submit" class="myform-label block-button-custom">
                                                <p>Upload</p> -->
                                                <input class="rounded-lg" type="submit" value="Upload" name="upload">
                                            <!-- </button> -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- </div>    
                            </div> -->
        
        
                            <div class="">
        
                                <div class="">
                                    <div class="flex justify-center">
                                        <div id="formbutton" class="submit rounded-lg mt-4 mb-4">
                                            <button type="button">
                                                <p>Click For Data Entry Set Form</p>
                                            </button>
                                        </div>
                                    </div>
                                </div>
        
                                <div id="formdata" class="flex-item">
                                    <div class="flex-view-block-form">
                                        <div class="main-form">
                                            <h1>Data Entry Set</h1>
                                            <form class="formbox" method="post" action="userdashboard">
                                                <div class="form-item-50">
                                                    <div class="form-view-block">
                                                        <label class="myform-label">Daily</label>
                                                        <input type="date" class="myform-input" name="Daily">
                                                    </div>
                                                </div>
        
                                                <div class="form-item-50">
                                                    <div class="form-view-block">
                                                        <label class="myform-label">Location</label>
                                                        <input type="text" class="myform-input" name="location">
                                                    </div>
                                                </div>
        
                                                <div class="form-item-50">
                                                    <div class="form-view-block">
                                                        <label class="myform-label">latitude</label>
                                                        <input type="text" class="myform-input" name="latitude">
                                                    </div>
                                                </div>
        
                                                <div class="form-item-50">
                                                    <div class="form-view-block">
                                                        <label class="myform-label">Longitude</label>
                                                        <input type="text" class="myform-input" name="logitude">
                                                    </div>
                                                </div>
        
                                                <div class="form-item-50">
                                                    <div class="form-view-block">
                                                        <label class="myform-label">Median</label>
                                                        <input type="text" class="myform-input" name="median">
                                                    </div>
                                                </div>
        
                                                <div class="form-item-50">
                                                    <div class="form-view-block">
                                                        <label class="myform-label">Mean</label>
                                                        <input type="text" class="myform-input" name="mean">
                                                    </div>
                                                </div>
        
                                                <div class="form-item-50">
                                                    <div class="form-view-block">
                                                        <label class="myform-label">Max</label>
                                                        <input type="text" class="myform-input" name="max">
                                                    </div>
                                                </div>
        
                                                <div class="form-item-50">
                                                    <div class="form-view-block">
                                                        <label class="myform-label">Sum</label>
                                                        <input type="text" class="myform-input" name="sum">
                                                    </div>
                                                </div>
        
                                                <div class="form-item">
                                                    <div class="form-view-block">
                                                        <label class="myform-label">Count</label>
                                                        <input type="text" class="myform-input" name="count">
                                                    </div>
                                                </div>
        
                                                <div class="form-item">
                                                    <div class="form-view-block">
                                                        <div class="button-box">
                                                            <input type="submit" class="myform-label block-button-custom">
                                                        </div>
                                                    </div>
                                                </div>
        
                                            </form>
        
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <% if(typeof locals.uploadContent !="undefined" ){ %>
                                <div class="card-row">
                                    <div class="flex-item">
                                        <div class="flex-view-block">
                                            <div class="table_container">
                                                <h1 style="text-align: center;">TABLE INSERTED INTO DB</h1>
                                                <table id="view-table">
                                                    <tr>
                                                        <% for(let i=0; i < Object.keys(uploadContent[0]).length; i++){ %>
                                                            <th>
                                                                <%= Object.keys(uploadContent[0])[i] %>
                                                            </th>
                                                            <% } %>
                                                    </tr>
                                                    <% for(let i=0; i < uploadContent.length; i++){ %>
                                                        <tr>
                                                            <% for(let j=0; j < Object.values(uploadContent[i]).length; j++){ %>
                                                                <td>
                                                                    <p>
                                                                        <%= Object.values(uploadContent[i])[j] %>
                                                                    </p>
                                                                </td>
                                                                <% } %>
                                                        </tr>
                                                        <% } %>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
    </div>
</div>


    <% if(typeof locals.notification !="undefined" ){ %>
        <% if(notification.status==true){ %>
            <div class="callout">
                <div class="callout-header">
                    <%= notification.header %>
                </div>
                <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
                <div class="callout-container">
                    <p>
                        <%= notification.text %>
                    </p>
                    <p><strong>Click To close</strong></p>
                </div>
            </div>
            <% } %>
                <% } %>


                    <script>
                        $("#formdata").hide()
                        $("#formbutton").click(function () {
                            $("#formdata").slideToggle()
                        })
                    </script>